<header>
<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://drive.google.com/file/d/1EEf_c3bpgJ7GbDI_XBuSEjMircSkzEga/view?usp=sharing">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/aniketpoptani">Connect</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Projects and Experiences</a
            >
            <ul class="dropdown-menu">
              <li class="dropdown-item" href="https://drive.google.com/file/d/17vfscdsFBJsZKEO5gVXirjrg2NrJPOlw/view?usp=sharing">Hello Doctor</li>
              <li class="dropdown-item" href="https://chaigpt.onrender.com">ChaiGPT</li>
              <li class="dropdown-item" href="https://drive.google.com/file/d/1yJVR6RQjCV8rBt6lQ63CZ4WeOfLsp6tn/view?usp=sharing">Wocure</li>
              <li class="dropdown-item" href="https://medium.com/@aniketpoptani100/brave-experience-9a3eaf057c3f">Experience At Brave</li>
              <li class="dropdown-item" href="#">Experience At Ola</li>
              <li class="dropdown-item" href="#">Experience At Infosys</li>
            </ul>
          </li>
        </ul>
      
      <a class="navbar-brand mx-auto " href="#">
        <h2>Aniket Poptani</h2>
        <h4>Software Engineer</h4>
      </a>
      <div class="btn-grp">
        
        <button id="go_next" onclick="buildFetchAndExecute('CHE')" class="black-btn">Github</button>
        <button class="black-btn">Linkedin Profile</button>
        
      </div>
    </div>
  </nav>
</header>  