<header>
    <div class="container-fluid">
            <div class="row align-items-center">
            <div class="col-4 btn-grp">
        
              <a href="https://www.github.com/Anios2001" id="githubBtn" class="black-btn"><div class="text">Github</div><img height=50px width=50px src="/images/github.svg"/></a>
              <a href= "https://www.linkedin.com/in/aniketpoptani" id="linkedinBtn" class="black-btn" ><div class="text">Linkedin Profile</div><img src="/images/linkedin.svg"/></a>
              
            </div>
            <a class="col-3 navbar-brand" href="#">
                <h2>Aniket Poptani</h2>
                <h4>Software Engineer</h4>
            </a>
            <div class="col-4">
                
                
                    <ul class="d-flex justify-content-evenly align-items-center list-unstyled nav-style">
                      <li class="nav-item">
                        <a class="nav-link" href="https://drive.google.com/file/d/1EEf_c3bpgJ7GbDI_XBuSEjMircSkzEga/view?usp=sharing">Resume</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/aniketpoptani">Connect</a>
                      </li>
                      <li class="dropdown nav-item">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          >Projects and Experiences</a
                        >
                        <ul class="dropdown-menu">
                          <li><a  class="dropdown-item" href="https://drive.google.com/file/d/17vfscdsFBJsZKEO5gVXirjrg2NrJPOlw/view?usp=sharing">Hello Doctor</a></li>
                          <li><a  class="dropdown-item" href="https://chaigpt.onrender.com">ChaiGPT</a></li>
                          <li><a  class="dropdown-item" href="https://drive.google.com/file/d/1yJVR6RQjCV8rBt6lQ63CZ4WeOfLsp6tn/view?usp=sharing">Wocure</a></li>
                          <li><a  class="dropdown-item" href="https://medium.com/@aniketpoptani100/brave-experience-9a3eaf057c3f">Experience At Brave</a></li>
                          <li><a  class="dropdown-item" href="#">Experience At Ola</a></li>
                          <li><a  class="dropdown-item" href="#">Experience At Infosys</a></li>
                        </ul>
                      </li>
                    </ul>
                
            </div>
      <!-- <div class="btn-grp nav-item">
        
        <a href="https://www.github.com/Anios2001" id="go_next" class="black-btn">Github</a>
        <a href= "https://www.linkedin.com/in/aniketpoptani" class="black-btn" >Linkedin Profile</a>
        
      </div>
    </div> -->
    </div>
    </div>
</header>  